#about-book-container{
    margin-top: 80px;
}
.book{
    padding-top: 50px;
    height: 500px;
}
.book-cover{
    position: absolute;
}
.book-cover img {
    width: 280px;
    height: 400px;
}
.about-book{
    margin-left: 400px;
    font-family: Jura;
}
.author-name{
    font-size: 30px;
}
.story-name{
    font-size: 20px;
}

.annotations{
    margin-top: 40px;
    font-size: 15px;
}
.before-comments{
    width: 90%;
}
.comment{
    margin-left: 20%;
    margin-bottom: 15px;
}
.author{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.content{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
.comments-separate{
    width: 80%;
}
.comments{
    font-family: Jura;
}
#submit{
    width: 70%;
    height: 32px;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
}
#comment-text{
    width: 70%;
    height: 80px;
    background: rgba(255, 255, 255, 0.44);
    border: 1px solid #A4A4A4;
    padding: 4px 8px 4px 4px;
    resize: none;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#comment-text:hover {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
#comment-text:focus {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
/*
@media (max-width: 768px) {
    #about-book-container{
        margin-top: 30px;
    }
    .book-cover img {
        width: 200px;
        height: 300px;
    }
    .about-book{
        margin-left: 220px;
        font-family: Jura;
    }
    .author-name{
        font-size: 25px;
    }
    .story-name{
        font-size: 15px;
    }
    .annotations{
        margin-top: 40px;
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    #about-book-container{
        margin-top: 20px;
    }
    .book-cover img {
        width: 170px;
        height: 260px;
    }
    .about-book{
        margin-left: 190px;
        font-family: Jura;
    }
    .author-name{
        font-size: 23px;
    }
    .story-name{
        font-size: 18px;
    }

    .annotations{
        margin-top: 40px;
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    #about-book-container{
        margin-top: 10px;
    }
    .book-cover img {
        width: 100px;
        height: 160px;
    }
    .about-book{
        margin-left: 130px;
        font-family: Jura;
    }
    .author-name{
        font-size: 20px;
    }
    .story-name{
        font-size: 15px;
    }

    .annotations{
        margin-top: 40px;
        font-size: 12px;
    }
}
*/