#about-book-container{
    margin-top: 80px;
    margin-bottom: 50px;
}


a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
#about-book-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#about-book-container li {
    float: left;
}

#book-cover{
    width: 300px;
    height: 450px;
    margin-left: 100px;
}
#book-cover img{
    width: 300px;
    height: 450px;
}
.information{
    font-family: Jura;
    margin-top: 30px;
    margin-left: 100px;
    width: 600px;
}
#author-name{
    font-size: 27px;
    margin-bottom: 0px;
}
#story-name{
    font-size: 20px;
    margin-top: 0px;
}
#like{
    margin-left: 1px;
    margin-right: 10px;
}
#dislike{
    margin-left: 1px;
}
.fa-thumbs-up{
    cursor: pointer;
}
.fa-thumbs-down{
    cursor: pointer;
}
#annotations{
    margin-top: 20px;
    font-size: 15px;
}
#quotes{
    margin-top: 30px;
}
.quote{
    margin-bottom: 10px;
}
.after-comments{
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px;
}
.before-comments{
    width: 90%;
    margin-bottom: 50px;
}
.author{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 15px;
}
.content{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
}
.comment{
    margin-left: 20%;
    margin-bottom: 15px;
}
.comments-separate{
    width: 80%;
}
#comments{
    font-family: Jura;
}
#submit{
    width: 70%;
    height: 32px;
    background-color: #222222;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-family: Jura;
    padding-top: 5px;
    font-size: 15px;
}
#comment-text{
    width: 70%;
    height: 80px;
    background: rgba(255, 255, 255, 0.44);
    border: 1px solid #A4A4A4;
    padding: 4px 8px 4px 4px;
    resize: none;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Jura;
}
#comment-text:hover {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
#comment-text:focus {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}