@font-face {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    src: local('Jura Regular'), local('Jura-Regular'), url(http://fonts.gstatic.com/s/jura/v7/2Jw1GPtuhy2Mk02G7ZXodQ.woff2) format('woff2'), url(http://fonts.gstatic.com/s/jura/v7/pqMzP52_r6zHbOILcX8h-A.woff) format('woff');
}
