.col-lg-4{
	padding: 5px;
    margin: 15px;
	background-color:white;
	width:27.3%;
	float:left;
	
	
}

.title{
    text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:30px;
	margin-left:200px;
	
	
}
.author{
	 text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:20px;
}
.annotation{
	font-family: Jura;
    text-align: left;
    color:darkred;
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	background-color:white;
    padding: 5px;
	margin:10px ;
}


.view-det a{
	border-color: darkred;
	color:darkred;
	font-weight: 600;	
	float:left;
	background-color: beige;
}

img{
	float:left;
	
}
@media(max-width:1000px){
	.col-lg-4{
	padding: 5px;
    margin: 15px;
	background-color:white;
	width:27.3%;
	float:left;
	
	
}

.title{
    text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:30px;
	margin-left:5px;
	
	
}
.author{
	 text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:20px;
}
.annotation{
	font-family: Jura;
    text-align: left;
    color:darkred;
	font-style: italic;
	font-weight: 600;
	font-size: 18px;
	background-color:white;
    padding: 5px;
	margin:10px ;
}


.view-det a{
	border-color: darkred;
	color:darkred;
	font-weight: 600;	
	float:left;
	background-color: beige;
}

img{
	float:left;
	
}
	
}
@media(max-width: 768px){
	.col-lg-4{
	padding: 2%;
    margin: 2%;
	background-color:white;
	float:left;
	width:98%;	
	
	
}

.title{
    text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:30px;
	margin-left:5px;
	
	
}
.author{
	 text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:20px;
}
.annotation{
	
	text-align: left;
    color:darkred;
	font-style: italic;
	font-weight: 600;
	font-size: 16px;
	background-color:white;
    padding: 5px;
	margin:20px ;
	
	
}


.view-det a{
	border-color: darkred;
	color:darkred;
	font-weight: 600;	
	float:left;
	background-color: white;
}

img{
    float:left;
}

}
@media (max-width: 360px) {
	.col-lg-4{
	padding: 2%;
    margin: 2%;
	background-color:white;
	float:left;
	width:98%;	
}

.title{
    text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:30px;
	margin-left:5px;
	
	
}
.author{
	 text-align: left;
	font-weight: 600;
    color:darkred;
    padding: 5px;
	font-size:20px;
}
.annotation{

    text-align: center;
    color:darkred;
	font-style: italic;
	font-weight: 600;
	font-size: 12px;
	background-color:white;
    padding: 5px;
	margin:10px ;
	float:left;
}


.view-det a{
	border-color: darkred;
	color:darkred;
	font-weight: 600;	
	float:left;
	background-color: white;
}

img{
    float:left;
}

}







