a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
#load-form.container{
    margin-top: 50px;
}
#cover{
    width: inherit;
    height: inherit;
}
.book-cover{
    width: 300px;
    height: 450px;
}
.inputWrapper {
    height: 32px;
    width: inherit;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #222222;
}
#load-file {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
}
.information{
    font-family: Jura;
    margin-top: 30px;
    margin-left: 150px;
}
.information input{
    margin-bottom: 8px;
}
.line{
    background: rgba(255, 255, 255, 0.44);
    border: 1px solid #A4A4A4;
    padding: 4px 8px 4px 4px;
    width: 500px;
    height:25px;
}

.line:hover {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
.line:focus {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
.multi-line{
    width: 500px;
    height: 100px;
    background: rgba(255, 255, 255, 0.44);
    border: 1px solid #A4A4A4;
    padding: 4px 8px 4px 4px;
    resize: none;
    margin-bottom: 10px;
}
.multi-line:hover {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
.multi-line:focus {
    box-shadow: inset 0px 1px 2px #A4A4A4;
}
.plus{
    float: right;
    margin: 10px 0px 0px 10px;
}
